@import "./src/styles/main";

.register{
  h1{
    text-align: center;
    margin-bottom: 10px;
  }
  form {
    display: grid;
    margin: 0 auto;
    width: 50%;
    max-width: 700px;
    min-width: 400px;
    text-align: center;

    input {
      margin: 5px 0;
      padding: 5px;
      border: 1px solid $color-1;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
      resize: none;
    }

    input[type = "submit"] {
      cursor: pointer;
      background: $color-1;
      transition: 0.4s;

      &:hover {
        background: $color-2;
        color: white;
      }
    }
  }
}